body,
html {
	height: 80%;
	background-image: url("../../assets/images/fondo.jpeg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}

.completo {
	opacity: 0;
}

.columna-juego {
	border: 1px solid aquamarine;
	border-radius: 5px;
	margin: 5px;
}

.fila-juego {
	height: 20vh;
}

h1 {
	text-align: center;
	color:azure;
}

a {
	text-decoration: none;
	color:aquamarine;
	font-weight: bold;
}

#tablero {
	width: 80vw;
	height: 80vh;
	margin: 50px auto;
}

.cuadro {
	opacity: 0;
	transition: opacity ease 0.2s;
	border: 1px solid black;
	cursor: pointer;
}

.rojo {
	background-image: url('../../assets/images/laser.jpg');
	background-size: 100% 100%;
	border-radius:10px;
}

.verde {
	background-image: url('../../assets/images/muecas.jpg');
	background-size: 100% 100%;
	border-radius:10px;
	background-repeat: no-repeat;
}

.amarillo {
	background-image: url('../../assets/images/ojos.jpeg');
	background-size: 100% 100%;
	border-radius:10px;
}

.negro {
	background-image: url('../../assets/images/preso.jpg');
	background-size: 100% 100%;
	border-radius:10px;
}

.blanco {
	background-image: url('../../assets/images/pelota.webp');
	background-size: 100% 100%;
	border-radius:10px;
}

.azul {
	background-image: url('../../assets/images/portal.jpg');
	background-size: 100% 100%;
	border-radius:10px;

	
}

#fin-juego {
	display: none;
	color:azure;font-weight: bold;
	text-shadow: 0 0 10px aquamarine;
	text-align: center;
	font-weight: bold;
	margin-top: 65vh;
}

strong {
	color: aquamarine;
	font-weight: bold
	text-shadow: 0 0 10px azure;

}
